.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.register-form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
}

.register-form {
    margin-bottom: 15px;
}

.register-button {
    width: 100%;
}

.register-alert {
    padding: 10px;
    text-align: center;
    margin: 20px auto 0;
    width: 50%;
}

.server-alert {
    padding: 10px;
    text-align: center;
}

.password-match-ok {
    color: green;
}
.password-match-bad {
    color: red;
}
